<ion-view title="" id="pgHome" style="background-color:#D2EAD0;">
    <ion-content padding="true" class="has-header">
        <div class="item item-body">
            Este teste tem a intenção apenas de auxiliar na análise das propostas.<br><br>
            Procure saber o histórico do seu candidato e avalie as suas demais propostas<br><br<
            
            Você responderá 7 perguntas elaboradas com base nas propostas e posições dos candidatos (fonte: O semanário[Online]<br>
            <a  id="pgHome-button1" class="button button-assertive  
                button-block icon ion-log-in" ui-sref="menu.question1" menu-close="" 
                ng-click="iniciarTeste()">Iniciar teste
            </a>
        </div>
        <div class="item item-body">
                
                <br>Propostas mais escolhidas<br><br>
                Abertura da UPA - 44,60%<br> 
        </div><br>
            <p>
                <a href="#" class="subdued">0 Comments</a>
            </p>
    </ion-content>    
</ion-view>
