<ion-view title="Índices da cidade" id="pgSaude" style="background-color:#D2EAD0;">
  <ion-content padding="true" class="manual-ios-statusbar-padding" scroll="true" >
    
    <div class="spacer" style="width: 300px; height: 2px;"></div>
    <div class="list card">

    <div class="item item-avatar">
        <img src=>
        <h2>Saúde</h2>
        <p>Atendimento essêncial para qualquer indivíduo</p>
    </div>

    <div class="item item-body">
        <img class="full-image" src="img/saude.jpg">
            <p>
                "Com a criação do SUS, o Brasil foi um dos primeiros e poucos países fora da Organização para a Cooperação e Desenvolvimento Econômico (OCDE) a prever na legislação o acesso universal aos serviços de saúde, reconhecendo a saúde como direito do cidadão e dever do Estado". (ONU)<br>
                
                Avalie:<br>
                - Se a sua região possui posto de saúde próximo<br>
                - Se o programa saúde da família atende sua região<br>
                - Se o hospital público mais próximo tem condições de atendimento<br>
                - Se o atendimento é demorado<br><br>
                Contribua para que todo cidadão possa ter uma visão geral de problemas nos serviços públicos na cidade<br> 
            </p>
            <p>
                <a href="#" class="subdued">0 Comments</a>
            </p>
    </div>
    </div>
    <a id="pgIndiceEdu-button1" class="button button-assertive  button-block ion-thumbsdown" ng-click="inserirIndice('Saúde')"> Indicar problemas</a>
    <a>{{retorno}}</a>      
  </ion-content>
</ion-view>
    