<ion-view title="Índices da cidade" id="pgTransporte" style="background-color:#D2EAD0;">
  <ion-content padding="true" class="manual-ios-statusbar-padding" scroll="true" >
    
    <div class="spacer" style="width: 300px; height: 2px;"></div>
    <div class="list card">

    <div class="item item-avatar">
        <img src=>
        <h2>Transporte</h2>
        <p>Mobilidade urbana</p>
    </div>

    <div class="item item-body">
        <img class="full-image" src="../img/transporte.jpg">
            <p>
                Avalie se a sua região possui linhas de ônibus que atendam a população<br>
                Se os ônibus são conservados<br>
                Contribua para que todo cidadão possa ter uma visão geral dos problemas nos serviços públicos na cidade<br> 
            </p>
            <p>
                <a href="#" class="subdued">0 Comments</a>
            </p>
    </div>
    </div>
    <a id="pgIndiceEdu-button1" class="button button-assertive  button-block ion-thumbsdown" ng-click="inserirIndice('Transporte')"> Indicar problemas</a>
    <a>{{retorno}}</a>
  </ion-content>
</ion-view>
    