<ion-view title="" id="pgcandidato1" style="background-color:#D2EAD0;">
    <ion-content padding="true" class="has-header">
        <div class="item item-body">
            <div class="item item-avatar">
                <img src="img/albiero.jpg">
                <h2>Luís Antônio Albiero (PT)</h2>
            </div>
            <div class="list">

            <div class="item item-divider">
                Dados candidato
            </div>

            <a class="item" href="#">
            Formado em Direito e pós-graduado
            </a>
            <a class="item" href="#">
            Vice: Ezequias Simões de Almeida<br> mais conhecido como Zeca.           
            </a>
            <a class="item" href="#">
            52 anos, casado e pai de um filho            
            </a>
            <a class="item" href="#">
            Eleito vereador de Capivari em 1988 <br>e novamente em 2000          
            </a>
                        

            </div>
                <a id="pgIndice-button2" class="button button-balanced balanced  button-block ion-ios-undo" ui-sref="menu.home">Inicio</a>
        </ion-content>    
</ion-view>