<ion-view title="" id="pgResultados" style="background-color:#D2EAD0;">
    <ion-content padding="true" class="has-header">
        <div class="item item-body">
            <div class="item item-avatar">
                <img src="">
                <h2>Resultados - compatibilidade de idéias</h2>
            </div>
            <p>
               <div class="list">
                <a class="item item-thumbnail-left" ui-sref="menu.pgCandidato1">
                    <img src="img/albiero.jpg">
                    <h2>Luís Albiero - 13</h2>
                    <p>{{albiero}}</p>
                </a><br>
                <a class="item item-thumbnail-left" ui-sref="menu.pgCandidato2">
                    <img src="img/proenca.jpg">
                    <h2>Rodrigo Proença - 45</h2>
                    <p>{{proenca}}</p>
                </a><br>
                <a class="item item-thumbnail-left" ui-sref="menu.pgCandidato3">
                    <img src="img/tete.jpg">
                    <h2>Tete Borsari - 55</h2>
                    <p>{{tete}}</p>
                </a><br>
                <a class="item item-thumbnail-left">
                    <img src="">
                    <h2>Nulo</h2>
                    <p>{{nulo}}</p>
                </a><br>
               </div>
            </p>
                <a id="pgIndice-button1" class="button button-balanced  button-block">Registrar preferências</a>
                <a id="pgIndice-button2" class="button button-afirmative balanced  button-block ion-ios-undo" ui-sref="menu">Inicio</a>
        </ion-content>    
</ion-view>